.about-me-section {
  text-align: right;
  position: relative;
  max-width: 25rem;
  margin-left: auto;
  margin-bottom: 10rem;
  right: 30rem;
}

.about-me-section h2 {
  margin-bottom: 2rem;
}

.about-me-section p {
  line-height: 2.2rem;
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 1350px) {
  .about-me-section {
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  }
}
