.page-gradient {
  height: 1000px;
  top: -500px;
  left: 0;
  width: 100%;
  position: absolute;
  transform: skewY(-15deg);
  overflow: hidden;
  z-index: -1;
}

/* @media only screen and (max-width: 1350px) {
  .page-gradient {
    width: 100%;
  }
} */
