.main-site-navigation {
  padding: 1.6rem 0 0 0;
}

.main-site-navigation.solid {
  background: linear-gradient(to right, rgb(99, 45, 208) 25%, rgb(80, 3, 235) 100%);
}

.main-site-navigation-links {
  margin: 0 auto;
  display: flex;
}

.main-site-navigation-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.main-site-navigation-link.site-title {
  font-size: 1.618rem;
}

.main-site-navigation-link.portfolio-link {
  margin-left: 5rem;
}
