.portfolio-preview {
}

.portfolio-preview-projects {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-preview-header {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 800px) {
  .portfolio-preview-projects {
    flex-direction: column;
    align-items: center;
  }
}
