.trait-display-title-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.trait-display-image {
  height: 10rem;
  border-radius: 4px;
  margin-right: 2rem;
}

.trait-display p {
  max-width: 30rem;
  line-height: 2.2rem;
}
