.trait-display-title-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.trait-display-image {
  width: 220px;
  border-radius: 4px;
  margin-right: 2rem;
  align-self: center;
  overflow: hidden;
}

.trait-display h2 {
  margin-bottom: 2rem;
}

.trait-display p {
  max-width: 30rem;
  line-height: 2.2rem;
}

@media only screen and (max-width: 1350px) {
  .trait-display-title-container {
    flex-direction: column;
  }
  .trait-display {
    text-align: center;
  }
  .trait-display-image {
    margin: 0 0 2rem 0;
  }
}
